* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

:root {
	/*--suncolor: #FFB901;*/
	--suncolor: #FDB232;
	--pacolor: #740210;
  	--bgcolor: #00feca;
  	--darkcolor: #6d6e6d;
	--darkcolorsub: #5f5f5f;
  	--graycolor: #868686;
	--articlecolor: #101010;
	--backcolor: black;
}

::-moz-selection {
	background: var(--darkcolorsub);
}
::selection {
	background: var(--darkcolorsub);
}

body {
    background-color: var(--darkcolor);
	color: var(--bgcolor);
    font-family: "Montserrat", sans-serif;
	line-height: 1.6em;
	letter-spacing: 0.2px;
	font-weight: 400;
	overflow: hidden;
}

#new a {
	position: absolute;
	z-index: 10;
	font-size: 30pt;
	left: 30px;
	top: 30px;
	font-family: "PlanGrotesquePro-Regular", sans-serif;
	color: gray;
}

#new a:hover {
	color: var(--suncolor);
}

main {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100vh;
	grid-gap: 0px;
	grid-template-areas:
		"cntr";
}

#central-content {
	grid-area: cntr;
}

.viz-mode {
	display: grid;
	grid-template-columns: 72% 28%;
	grid-template-rows: 100vh;
	grid-gap: 0px;
	grid-template-areas:
		"vizz gentext";
}

a {
	color: var(--bgcolor);
	text-decoration: none;
}

section {
    grid-area: vizz;
	position: relative;
	z-index: 1;
}
#treeviz { }
svg {
	font-family: 'PlanGrotesquePro-Light', 'Montserrat', sans-serif;
	letter-spacing: 0.11em;
    font-weight: 400;
	width: 72vw;
	height: 100vh;
	background-color: var(--backcolor);
}
path, line {
	stroke: var(--darkcolor);
}
text {
	/*letter-spacing: 12px;*/
	/*text-transform: uppercase;*/
	/*text-anchor: middle;*/
	/*font-weight: 300;*/
	cursor: pointer;
	text-anchor: end;
}

.defaultText {
	fill: var(--bgcolor);
	opacity: 0.8;
}

.selectedText {
	fill: var(--suncolor);
	opacity: 1;
}

.unselectedText {
	fill: var(--bgcolor);
	opacity: 0.33;
}

article {
    grid-area: gentext;
	background-color: var(--articlecolor);
	padding: 40px 25px 30px 45px;
	font-family: 'PlanGrotesquePro-Light', Montserrat, sans-serif;
	letter-spacing: 0.12em;
	font-size: 18pt;
	line-height: 1.3;
	letter-spacing: 0.5pt;
	overflow-x: hidden;
	overflow-y: scroll;
	cursor: context-menu !important;
}

#title-date {
	margin-bottom: 52px;
	color: gray;
	font-size: 10pt;
}

#text-title {
	justify-self: left;
}
#text-date {
	justify-self: right;
}

#generated-text {
	min-height: calc(100vh - 100px - 15%);
}

article::-webkit-scrollbar {
    width: 0;
}

article::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

article::-webkit-scrollbar-thumb {
  background-color: var(--darkcolorsub);
  outline: 0px solid var(--darkcolor);
}

.hidden {
    display: none;
}

.loading {
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    overflow: hidden;
    /*width: 70px;*/
    /*height: 60px;*/
}

.ghost-text {
	color: var(--suncolor);
}

#save {
	display: none;
}

.wave-divide {
	display: none;
}


