* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*--suncolor: #FFB901; #be0010*/
    /*--suncolor: #740210;
    --pacolor: #740210;
      --bgcolor: #ffffff;
      --darkcolor: #6d6e6d;
    --darkcolorsub: #5f5f5f;
      --graycolor: #868686;
    --articlecolor: #1a1a1a;*/
    --suncolor: white;
    --bgcolor: white;
    --darkcolor: #740210;
    --darkcolorsub: #740210;
    --articlecolor: #66020e;
}

::-moz-selection {
    background: var(--darkcolorsub);
}

::selection {
    background: var(--darkcolorsub);
}

body {
    background-color: var(--darkcolor);
    color: var(--bgcolor);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6em;
    letter-spacing: 0.2px;
    font-weight: 400;
    overflow: hidden;
}

#plus a {
    position: absolute;
    z-index: 10;
    font-size: 30pt;
    left: 30px;
    top: 40px;
    font-family: "PlanGrotesquePro-Regular", sans-serif;
    color: var(--bgcolor);
    opacity: 50%;
}

#lilmenu {
    position: absolute;
    z-index: 8;
    font-size: 12pt;
    left: 30px;
    top: 75px;
    font-family: "PlanGrotesquePro-Regular", sans-serif;
	display: none;
}

#lilmenu div {
    position: relative;
    padding: 0 0 0 0;
}

#lilmenu div a {
    color: var(--bgcolor);
    opacity: 50%;
}

#plus a:hover {
    color: var(--bgcolor);
    opacity: 1;
}

#lilmenu div a:hover {
    color: var(--bgcolor);
    opacity: 1;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh;
    grid-gap: 0px;
    grid-template-areas: "cntr";
}

#central-content {
    grid-area: cntr;
}

.viz-mode {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-gap: 0px;
    grid-template-areas: "vizz";
}

a {
    color: var(--bgcolor);
    text-decoration: none;
}

section {
    grid-area: vizz;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "left";
}

#p5sketch {
    background-color: gray;
    grid-area: left;
}
